{% load static %}
<!DOCTYPE html>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'encyclopedia/search.css' %}">
        <body>
    <div class="container">        
    <h1>Search Results : </h1>
        <ul>
        {% for i in substr %}
        <div class="column">
        <li><a href="{% url 'entry' i %}">{{i}}</a></li>
        </div>
        {% endfor %}
    </ul>
    </div>
            
</body>